1- CRIANDO TUPLAS:

In [1]:
#TUPLAS COM PARÊNTESES
tuplas_numeros = (10,20,30)
tuplas_numeros

(10, 20, 30)

In [2]:
#TUPLAS SEM PARÊNTESES
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [3]:
#TUPLAS COM APENAS UM ELEMENTO
tupla_elemento = 10,
tupla_elemento

(10,)

In [5]:
#TUPLAS VAZIAS
tupla_vazia = ()
tupla_vazia

()

In [6]:
#FUNÇÃO TUPLAS 
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

1.1- CONTANDO ELEMENTOS DA TUPLA:

In [12]:

#Declarando valores no dicionário.
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count('Marlene')
#Impressão das tuplas.
print (tupla_nomes.count('Suely'))
print (tupla_nomes.count('Zezinho'))
print (tupla_nomes.count('Marlene'))

0
1
2

In [13]:
#Impressão da tupla.
tupla_nomes.count('Marlene')

2

PRATICAR TUPLAS

1) Crie uma tupla com os elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

In [16]:
#Declarando valores no dicionário.
tupla_num = (1, 2, 2, 3, 4, 4, 4, 5)
#Impressão das tuplas.
print (tupla_num.count(4))

3

In [17]:
#Impressão das tuplas.
tupla_num.count(4)

3

2- DICIONÁRIO (MAPS) EM PYTHON

In [19]:
#Declarando valores no dicionário.
dicio={'chave': 'valor'}
#Impressão do valor declarado no dicionário.
print(type(dicio))

<class 'dict'>

2.1- PRATICANDO DICIONÁRIO

In [18]:
#1)DESAFIO: O que acontece em cada sequência de comandos a seguir?
# Declarando valores no dicionário.
# A)
d={'laranjas':15,'bananas':35,'siriguelas':12}
#Impressão do valor declarado no dicionário.
d['bananas']

35

In [20]:
#Adicionando outro elemento.
# B)
d['pitomba'] = 20
#Imprimindo a quantidade de elemento no Objeto "d" após a inclusão.
len(d)

4

In [21]:
#retorna todos os elemnetos já incluindos no Objeto "d".
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

In [23]:
#Perguntando se o elemento "pitomba" esta presente no Objeto "d".
# C)
'pitomba' in d

True

In [24]:
##Perguntando se o elemento "pears" esta presente no Objeto "d".
# D)
'pears' in d

False

In [25]:
# Removando outro elemento.
## E)
del d['laranjas']
#Perguntando se o elemento "Laranja" esta presente no Objeto "d".
'laranjas' in d

False

3- CONCATENAÇÃO E REPETIÇÃO

In [26]:
# Declarando valores no dicionário.
frutas = ['pinha', 'oiti coró', 'jacá', 'tamarindo']
#Impressão dos valores declarado no dicionário.
print ([1, 2] + [3, 4])
print (frutas + [6, 7, 8, 9])

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jacá', 'tamarindo', 6, 7, 8, 9]

In [27]:
#Impressão dos valores declarado no dicionário.
print ([0]*4)
print ([1, 2, ['oi', 'tchau']]*2)

[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]