In [ ]:

"""
comentando código
comentando código 
comentando código
comentando código
comentando código
"""

In [2]:
"""Declaração de Soma dos Valores"""


idade1 = 20
idade2 = 35

idade1 + idade2

55

In [6]:
"""Desclaração de Subtração dos Valores"""

idade2 - idade1

15

In [8]:
"""Desclaração de Multiplicação dos Valores
"""
idade1 * idade2

700

In [10]:
"""Declaração de Divisão dos Valores"""

idade2/idade1

1.75

In [11]:
"""Declaração das somas das idades na tela"""

somaIdades=idade1+idade2

print(somaIdades)

55

In [20]:
"""Declaração de cálculo de valores

PENDAS

#Parênteses
#Exponenciação
#Multiplicação
#Divisão
#soma
#subtração"""


calculo1 = 2*(idade1+idade2)

In [21]:
calculo2 = 2*idade1 + 3*idade2 / 4

In [22]:
calculo3 = (2*idade1 + 3 * idade2) / 4

In [23]:
print(calculo1)
print(calculo2)
print(calculo3)

110
66.25
36.25

In [24]:
idade1 ** 2

400

In [25]:
15 ** 2

225

In [27]:
"""Parte inteira"""

idade2 // idade1

1

In [28]:
"""Só pega o Resto"""

idade1 % idade2

20

In [29]:
"""Aplicando concatenar no texto"""

nome= "Ricardo"
sobrenome= "Tompson"

print(nome + sobrenome)

RicardoTompson

In [30]:
print(nome + '' + sobrenome)

RicardoTompson

In [34]:
print("Olá", nome+sobrenome, "Você tem", idade1 + 15, "anos.")

Olá RicardoTompson Você tem 35 anos.

In [39]:
print("\n","Olá",nome+sobrenome, "\n", "Você tem", idade1 + 15, "anos.")

 Olá RicardoTompson
 Você tem 35 anos.

In [43]:
idadeA = input("Digite sua idade:")

In [47]:
print(idadeA)

16

In [41]:
type(idadeA)

str

In [44]:
idadeB = int(input("Digite sua idade:"))

In [46]:
print(idadeB)

18

In [45]:
type(idadeB)

int

In [53]:
print(idadeA, type(idadeA))
print(idadeB, type(idadeB))

16 <class 'str'>
18 <class 'int'>

In [58]:
num=12
num-=1
print(num)

11

In [59]:
num=12
num+=1
print(num)

13